* {font-family: Helvetica, Arial, sans-serif;}

.top-banner-1 {
  box-sizing: border-box;
  background-color: #2c9ab7;
  padding: 100px 0px 0px 275px;
  margin: 0rem;}

.top-banner-2 {
  box-sizing: border-box;
  background-color: #2c9ab7;
  padding: 20px 0px 100px 275px;
  margin: 0rem;}

.sub-banner {
  box-sizing: border-box;
  background-color: #ebebeb;
  padding: 25px 0px 25px 275px;
  margin: 0rem;
  font-size: 24px;
  font-weight: bold;
  color: #3b3b3b;}

.first-heading {
  color: #47aac4;
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 25px;
  margin: 0rem;}

.column-1 {
  box-sizing: border-box;
  float: left;
  padding: 0px 75px 50px 275px;
  width: 65%;
}

.column-2 {
  box-sizing: border-box;
  float: right;
  padding-right: 275px;
  width: 35%;}

h1 {
  font-size: 80px;
  color: #ffffff;
}

h2 {
  font-size: 42px;
  font-style: italic;
  font-weight: lighter;
  color: #ffffff;
}

h3 {
  font-size: 26px;
  font-weight: bold;}

p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
}

li {
  display: inline;
  margin-right: 12px;}

figure {
  color: #7ecbdf;}

footer {
  clear: both;
  background-color: #3a3a3a;
  color: #ffffff;
  text-align: center;}

a {
  color: #67b6ca;
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
}
